<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Lecture Not Found</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
   <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"
          ><img src="/logo_light.svg" alt="SCOUT" srcset="" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> Home </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/about"> About </a>
              <a class="navbar-item" href="/contact"> Contact </a>
              <hr class="navbar-divider" />
              <a
                class="navbar-item"
                href="https://github.com/MoPaMo/SCOUT"
                target="_blank"
              >
                Source Code
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong><i class="fas fa-search"></i> Search</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(
            document.querySelectorAll(".navbar-burger"),
            0
          );

          // Add a click event on each of them
          $navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        });
      </script>
    </nav>
    <div class="container has-text-centered">
      <section class="section">
        <h1 class="title">404</h1>
        <h2 class="subtitle">
          Lecture <span>{{number}}</span>, Part <span>{{part}}</span> not found.
        </h2>
        <p class="has-text-grey">
          The lecture you are looking for does not exist or may have been removed.
        </p>
        <a href="/" class="button is-primary mt-4">Go Back Home</a>
      </section>
    </div>
  </body>
</html>
